@import "./bootstrap/bootstrap";

/////////////////////////////////////////
// VARIABLES
/////////////////////////////////////////
$maroon: #b72c4b;
$blue: #556fea;
$yellow: #ecc657;
$green: #91ba31;
$purple: #742c68;

$primary: $maroon;
$secondary: $blue;
$tertiary: $yellow;

/////////////////////////////////////////
// BASE
/////////////////////////////////////////
body {
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Coming Soon", cursive;
}

body {
  font-family: "Open Sans", sans-serif;
}

hr {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

/////////////////////////////////////////
// MAIN
/////////////////////////////////////////
#main {
  position: relative;
  z-index: 2;
}

/////////////////////////////////////////
// SECTION
/////////////////////////////////////////
.section {
  padding-bottom: 40px;
  padding-top: 40px;
}

.section h2 {
  text-align: center;
  color: $primary;
  margin-bottom: 2rem;

  &.no-margin {
    margin-bottom: 0.85rem;
  }
}

.section {
  h3 {
    font-size: $h5-font-size;
    line-height: 1.8;
  }
}

.section .subheading {
  text-align: center;
  margin-bottom: 2rem;
}

.section blockquote {
  font-family: "Indie Flower", cursive;
  font-size: 1.2rem;
}

/////////////////////////////////////////
// NAVIGATION
/////////////////////////////////////////
#navbar {
  a {
    color: #333;
    padding-left: 1rem;
    padding-right: 1rem;

    &.active {
      color: $primary;
    }
  }

  .nav-item {
    border-right: 1px solid #eee;

    &:last-of-type {
      border-right: none;
    }
  }
}

.navbar-brand {
  background: url(../images/logo-alt.png) no-repeat;
  background-size: contain;
  text-indent: 999999em;
  height: 25px;
  width: 75px;
  overflow: hidden;
}


/////////////////////////////////////////
// OUR CENTRE
/////////////////////////////////////////
.features {
  margin-top: 40px;
}

.feature {
  display: flex;
  margin-bottom: 40px;
}

.colour-swatch {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  min-width: 40px;
  margin-right: 20px;
}

/////////////////////////////////////////
// OUR PROGRAM
/////////////////////////////////////////
.program-item {
  margin-bottom: 20px;
}

/////////////////////////////////////////
// LIFE AT KOTA
/////////////////////////////////////////
.life-highlight-content {
  display: flex;
}

/////////////////////////////////////////
// ROOMS
/////////////////////////////////////////
.room {
  background: $blue;
  color: #fff;
  margin-bottom: 20px;
}

.room-content {
  padding: 10px 0;
}

.room-description {
  font-size: 0.875rem;
}

/////////////////////////////////////////
// TESTIMONIALS
/////////////////////////////////////////
.testimonials {
  text-align: center;
  color: #fff;

  .author {
    font-weight: 600;
  }
}

/////////////////////////////////////////
// FAQs
/////////////////////////////////////////
.faq button {
  color: $yiq-text-dark;
  font-size: $h6-font-size;

  i {
    position: absolute;
    right: 1.25rem;
  }

  i:before {
    content: "\f077";
  }

  &.collapsed {
    i:before {
      content: "\f078";
    }
  }
}

.list-group-item.faq {
  padding: 0;

  .btn {
    width: 100%;
    padding: .75rem 2.25rem 1.25rem .75rem;
    text-align: left;
    white-space: normal;
  }
}

/////////////////////////////////////////
// CONTACT US
/////////////////////////////////////////
.content.center {
  text-align: center;
}

/////////////////////////////////////////
// HERO
/////////////////////////////////////////
#hero-wrapper {
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
}

#hero {
  height: 630px;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  padding: 0;
  margin-bottom: 0;

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .logo {
    height: 157px;
    width: 157px;
    background-image: url("../images/logo.png");
    background-size: cover;
    text-indent: -999999em;
    overflow: hidden;
  }
}

.image-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
}

#clouds {
  height: 106px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: url(../images/clouds.png) repeat-x center;
}

.callouts {
  display: flex;
  flex-wrap: wrap;
}

.callout {
  display: flex;
  flex-direction: column;
  height: 150px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  width: 100%;

  @include media-breakpoint-up(md) {
    width: 25%;
  }

  &:hover {
    color: #fff;
  }

  > img {
    margin-bottom: 20px;
  }

  > p {
    margin-bottom: 0;
  }

  &:nth-child(1) {
    background: $purple;
  }

  &:nth-child(2) {
    background: $blue;
  }

  &:nth-child(3) {
    background: $yellow;
  }

  &:nth-child(4) {
    background: $green;
  }
}

.polaroid {
  display: block;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 2px 0px;
  background: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #e3e3e3;
  padding: 10px;
  margin-bottom: 40px;

  > img {
    max-width: 100%;
  }
}

/////////////////////////////////////////
// Footer
/////////////////////////////////////////
#footer {
  color: white;
  font-size: 0.875rem;

  .footer-top {
    height: 400px;
    width: 100%;
    background: url(../images/footer-hero.jpg) center;
    background-size: cover;
  }

  .footer-middle {
    background: darken($purple, 5%);

    p {
      margin-bottom: 0;
    }

    .kota-centre {
      margin-bottom: 10px;
    }
  }

  .footer-bottom {
    background: darken($purple, 7%);
    padding: 15px;
    text-align: right;
  }

  .footer-logo {
    height: 70px;
    width: 94px;
    background: url(../images/logo-sm.png);
    margin-bottom: 20px;
  }

  .footer-gallery {
    max-width: 320px;
  }

  .contact-info {
    margin-bottom: 20px;
  }
}

/////////////////////////////////////////
// Gallery
/////////////////////////////////////////
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;

  > figure {
    margin: 0;
  }

  .thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 5px;
  }

  .gallery-image-description {
    display: none;
  }
}

/////////////////////////////////////////
// Carousel
/////////////////////////////////////////
.owl-carousel .owl-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.owl-carousel .owl-nav button.owl-prev {
  align-items: center;
  justify-content: center;
  display: flex;

  &:hover {
    background: none;
  }

  &:focus {
    outline: 0;
  }

  > span {
    font-size: 50px;
  }
}

.owl-carousel .owl-nav button.owl-next {
  align-items: center;
  justify-content: center;
  display: flex;

  &:hover {
    background: none;
  }

  &:focus {
    outline: 0;
  }

  > span {
    font-size: 50px;
  }
}